
.field-error{
    color: #f1556c;
    margin-top: 5px;
    padding-left: 15px;
}

.field-error::before{
    content: "\F159";
    font-family: "Material Design Icons";
    position: absolute;
    left: 16px;
    top: 67px;
}